{% extends 'base.html' %}
{% block title %} Admin Dashboard {% endblock %}
{% block header %}
    <script src="https://unpkg.com/vue-query-builder@0.8.2/dist/VueQueryBuilder.umd.min.js"></script>
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            href="https://unpkg.com/vue-query-builder@0.8.2/dist/VueQueryBuilder.css"
    />
{% endblock %}
{% block body %}{% raw %}

    <div id="app">
        <h1 class="ui center aligned header">Admin Control Panel</h1>
        <h2 class="ui center aligned header">Create a Device</h2>
        <div class="ui center aligned container">
            <div class="ui link cards">
                <div v-for="(type, index) in types" class="ui card">
                    <i :class="icons[index]"></i>

                    <div class="content">
                        <a :href="create_url(type)" target="_blank" class="header">Create a {{ type }} device</a>

                        <div class="description">
                            {{ descriptions[index] }}
                        </div>
                    </div>
                </div>

            </div>

            <h2 class="ui center aligned header">State of Devices</h2>
            <div class="ui container">
                <table class="ui celled table">
                    <thead>
                    <th>Device ID</th>
                    <th>Type</th>
                    <th>State</th>
                    </thead>
                    <tbody>
                    <tr v-for="item in devices">
                        <td>
                            {{item.id}}
                        </td>
                        <td>
                            {{item.type}}
                        </td>
                        <td>
                            {{item.state}}
                        </td>

                    </tr>

                    </tbody>
                </table>
            </div>

            <h2 class="ui center aligned header">Rules

            </h2>
            <div class="ui container">
                <button class="ui labeled icon button" @click="add_rule">
                    <i class="plus icon"></i>
                    Add new rule
                </button>
                <table class="ui celled table">
                    <thead>
                    <th>Enabled?</th>
                    <th>Rule Name</th>
                    <th>Status</th>
                    <th>Actions</th>

                    </thead>
                    <tbody>
                    <tr v-for="rule in rules">
                        <td></td>
                        <td>
                            {{rule.name}}
                        </td>
                        <td>
                            status
                        </td>
                        <td>
                            <button class="ui labeled icon button" @click="edit_rule(rule)">
                                <i class="edit icon"></i>
                                Edit
                            </button>
                            <button class="ui negative labeled icon button" @click="delete_rule(rule)">
                                <i class="delete icon"></i>
                                Delete
                            </button>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="ui small modal" style="position: relative; height: auto">
                <i class="close icon"></i>
                <div class="header">
                    Rule Editor
                </div>
                <div class="content">
                    <div class="ui input">
                        <input type="text" placeholder="Rule Name" v-model="current_rule_name">
                    </div>
                </div>
                <div class="scrolling content" v-if="builder_state">
                    <vue-query-builder :rules="builder_rules" v-model="current_query"></vue-query-builder>
                    Actions:
                    <div v-for="action in current_actions">
                        <div class="mt-2 mb-2 form-inline">
                            <div class="form-group">
                                <select class="form-control mr-2" v-model="action.device_id">
                                    <option value="" selected>Choose a device</option>
                                    <option v-for="actuator in actuators" v-bind:value="actuator.id">{{ actuator.id }}
                                    </option>
                                </select>

                                <select class="form-control mr-2" v-if="action.device_id" v-model="action.value">
                                    <option v-for="act in get_actions(action.device_id)" v-bind:value="act.value">{{
                                        act.label
                                        }}
                                    </option>
                                </select>

                                <input type="button" @click="current_actions.splice(current_actions.indexOf(action),1)"
                                       class="btn btn-secondary" value="Delete"/>
                            </div>
                        </div>
                    </div>

                    <button @click="current_actions.push({device_id:null,value:null})" class="ui labeled icon button"
                            @click="add_rule">
                        <i class="plus icon"></i>
                        Add action
                    </button>
                </div>
                <div class="actions">
                    <div class="ui black deny button" @click="builder_state=false">
                        Cancel
                    </div>
                    <div @click="save_rule" class="ui positive right labeled icon button">
                        Save Rule
                        <i class="checkmark icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" charset="utf-8">
    var app = new Vue({
      el: '#app',
      data: {
        types: ['lamp', 'door', 'motion', 'noise', 'proximity'],
        icons: ['huge lightbulb outline icon', 'huge angle double right icon', 'huge play icon', 'huge volume up icon', 'huge map marker alternate icon'],
        descriptions: ['create a smart lamp with brightness value between 0% and 100%',
          'create a smart door lock',
          'create a motion sensor that detects whether something is moving in a certain area',
          'create a smart microphone that detects suspicious noises such as broken glass, screams, gun shots',
          'create a proximity sensor that measures distance between a beacon and a receiver in meters'
        ],
        devices: [],
        socket: null,
        builder_rules: [],
        rules: [],
        builder_state: false,
        current_rule_name: '',
        current_query: {},
        current_rule: null,
        current_actions: []
      },
      components: { VueQueryBuilder: window.VueQueryBuilder },
      computed: {
        actuators: function () {
          return this.devices.filter(function (device) {
            return device.is_actuator
          })
        }
      },
      methods: {
        create_url: function (type) {
          return '/' + type
        },
        send_state: function (device_id, state) {
          socket.emit('act', { device_id: device_id, state: state })
        },
        add_rule: function () {
          this.current_query = {}
          this.current_rule_name = ''
          this.current_rule = null
          this.current_actions = []
          this.builder_state = true
          $('.ui.modal').modal('show')

        },
        edit_rule: function (rule) {
          this.current_rule = rule
          this.builder_state = true
          this.current_query = rule.query
          this.current_rule_name = rule.name
          this.current_actions = rule.actions
          $('.ui.modal').modal('show')
        },
        save_rule: function () {
          console.log(this.current_query)
          if (this.current_rule == null) {
            this.rules.push({
              'name': this.current_rule_name,
              'query': this.current_query,
              'actions': this.current_actions
            })
          } else {
            this.current_rule.query = this.current_query
            this.current_rule.name = this.current_rule_name
            this.current_rule.actions = this.current_actions
          }
          this.builder_state = false
          socket.emit('update_rules', this.rules)
        },
        delete_rule: function (rule) {
          this.rules.splice(this.rules.indexOf(rule), 1)
          socket.emit('update_rules', this.rules)
        },
        get_type: function (device_id) {
          for (var device of this.devices)
            if (device.id === device_id)
              return device.type
        },
        get_actions: function (device_id) {
          let type = this.get_type(device_id)
          if (type === 'door') {
            return [{ 'value': false, 'label': 'Lock Door' }, { 'value': true, 'label': 'Unlock Door' }]
          }
          if (type === 'lamp') {
            return [{ 'value': false, 'label': 'Turn Off' }, { 'value': true, 'label': 'Turn On' }]
          }
        }
      },
      created: function () {
        console.log('Starting connection to WebSocket Server')
        socket = io()
        this.socket = socket
        let vm = this
        socket.on('connect', function () {
          socket.emit('admin', {})
        })
        socket.on('update', data => {
          console.log(data)
          vm.devices = data.devices
          vm.builder_rules = data.builder_rules
          vm.rules = data.rules
        })
      }
    })
    </script>
    {% endraw %}
{% endblock %}