{% extends 'base.html' %}
{% block title %} Admin Dashboard {% endblock %}
{% block body %}
<a href="/lamp" target="_blank">Create a lamp</a>
<a href="/door" target="_blank">Create a door</a>

<h2>Lamp status</h2>
<p id="content">

</p>
<script type="text/javascript" charset="utf-8">
let socket = io()
socket.on('connect', function () {
  socket.emit('admin', {})
})

socket.on('update', data => {
  console.log(data)
  let content = $(document.getElementById('content'))
  content.empty()
  for (var device in data) {
    var checked_str = ''
    if (data[device])
      checked_str = 'checked'
    content.append(device + '<input class="checkbox" onchange="send_status(event)" type="checkbox"' + checked_str + ' id="' + device + '"/>')
    content.append('<br/>')
  }
})

function send_status (e) {
  socket.emit('act', { device_id: e.target.id, status: e.target.checked })
}

</script>
{% endblock %}