<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lamp Page</title>
</head>
<body>
Lamb Status: <input type="checkbox" id="checkbox" onchange="send_status()"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
        integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
let socket = io()
let device_id = Math.random().toString(36).substring(7)

function send_status () {
  status = document.getElementById('checkbox').checked
  socket.emit('sense', { status: status })
}

socket.on('connect', function () {
  send_status()
})

socket.on('act', data => {
  console.log(data)
  document.getElementById('checkbox').checked = data.status
})
</script>
</body>
</html>