{% extends 'base.html' %}
{% block title %}Motion Sensor Page{% endblock %}
{% block body %}
  {% raw %}
  <div id="app">
    <h1 class="ui center aligned header">Motion Sensor Control Panel</h1>

    <div class="ui hidden divider"></div>

    <div class="ui one column stackable center aligned page padded grid">
      <img class="ui medium rounded image" src="/static/images/motion-sensor.jpg"/>
    </div>

    <div class="ui hidden divider"></div>

    <div class="ui container">
      <div class="ui one column stackable center aligned page padded grid">
        <div class="ui toggle checkbox">
          <input :disabled="random" type="checkbox" id="checkbox" v-model="state" name="public">
          <label>{{ getText() }}</label>
        </div>
        <div class="ui toggle checkbox">
          <input type="checkbox" id="checkbox" v-model="random" name="public">
          <label>Random</label>
        </div>
      </div>
    </div>

  </div>


  <script type="text/javascript" charset="utf-8">
    var app = new Vue({
      el: '#app',
      data: {
        state: true,
        random:false,
        socket: null
      },
      watch: {
        state: function () {
          if (this.socket) {
            this.socket.emit('update_state', {state: this.state})
          }
        }
      },
      methods: {
        getText: function () {
          if (this.state) return 'motion'
          return 'no motion'
        }
      },
      created: function () {
        console.log('Starting connection to WebSocket Server')
        socket = io()
        this.socket = socket
        let vm = this
        socket.on('connect', function () {
          socket.emit('init', { type:'motion', state: vm.state })
        });
        socket.on('act', data => {
          console.log(data)
          vm.state = data.state
        })


        function changeState () {
          if (vm.random) {
            vm.state = Math.random() > 0.5
          }
        }

        (function loop () {
          var rand = Math.round(Math.random() * (3000 - 500)) + 500
          setTimeout(function () {
            changeState()
            loop()
          }, rand)
        }())
      }
    })
  </script>
  {% endraw %}
{% endblock %}
