{% extends 'base.html' %}
{% block title %}Noise Sensor Page{% endblock %}
{% block body %}
  {% raw %}
  <div id="app">
    <h1 class="ui center aligned header">Noise Sensor Control Panel</h1>

    <div class="ui hidden divider"></div>

    <div class="ui one column stackable center aligned page padded grid">
      <i class="massive volume up icon"></i>
    </div>

    <div class="ui hidden divider"></div>

    <div class="ui container">
      <div class="ui one column stackable center aligned page padded grid">
        <div class="ui toggle checkbox">
          <input type="checkbox" id="checkbox" v-model="state" name="public">
          <label>{{ getText() }}</label>
        </div>
      </div>
    </div>
  </div>


  <script type="text/javascript" charset="utf-8">
    var app = new Vue({
      el: '#app',
      data: {
        state: true,
        socket: null
      },
      watch: {
        state: function () {
          if (this.socket) {
            this.socket.emit('update_state', {state: this.state})
          }
        }
      },
      methods: {
        getText: function () {
          if (this.state) return 'suspicious noise detected'
          return 'no suspicious noise'
        }
      },
      created: function () {
        console.log('Starting connection to WebSocket Server')
        socket = io()
        this.socket = socket
        let vm = this
        socket.on('connect', function () {
          socket.emit('init', { type:'noise', state: vm.state })
        });
        socket.on('act', data => {
          console.log(data)
          vm.state = data.state
        })
      }
    })
  </script>
  {% endraw %}
{% endblock %}
